{% extends 'base.html' %}
{% block content %}
    <style>
        .add_button {
            width: 10%;
            color: deepskyblue;
            background-color: blueviolet;
            text-decoration: none;
            border: 4px solid green;
        }

        .update_button {
            width: 10%;
            color: white;
            background-color: blue;
            text-decoration: none;
            border: 2px solid darkblue;
        }

        .remove_button {
            width: 10%;
            color: white;
            background-color: pink;
            text-decoration: none;
            border: 2px solid darkblue;
        }

        table > thead > tr {
            background-color: grey;
        }
        table > thead > tr > th {
            width: 20%;
        }
    </style>
    <br><br><br>
    <a class="add_button" href="{% url 'app1:adaugare' %}">Add new location</a>
    <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>City</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in location_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.city|upper }}</td>
                    <td>{{ item.country }}</td>
                    <td><a class="update_button" href="{% url 'app1:modificare' item.id %}">Update location</a>
                    <a class="remove_button" href="{% url 'app1:remove' item.id %}">Remove location</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{%  endblock %}